# Dataset (fichiers volumineux)
dataset/
*.csv
*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Credentials
.env
kaggle.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
uv.lock