name: Python Tests

on:
  push:
    branches: [main, transactions, master, fraude, client]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11']
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      # --- ÉTAPE DE CONTOURNEMENT : CRÉATION DES FICHIERS FICTIFS ---
      - name: Create dummy data for tests
        run: |
          mkdir -p app/data/dataset
          touch app/data/dataset/cards_data.csv
          touch app/data/dataset/users_data.csv
          touch app/data/dataset/mcc_codes.json
          touch app/data/dataset/train_fraud_labels.json
          touch app/data/dataset/transactions_data.csv
          echo "Fichiers de données simulés créés pour éviter le crash au démarrage."

      - name: Run tests
        run: pytest -v